HOST=threads-sample.meta
APP_ID=YOUR_APP_ID
API_SECRET=YOUR_APP_SECRET
REDIRECT_URI=https://threads-sample.meta:8000/callback
SESSION_SECRET=RANDOM_SESSION_SECRET_STRING
PORT=8000

# Optional config setting to change the Graph API version.
# Leave blank or commented to default to the app's default version
# GRAPH_API_VERSION=v1.0

# If both INITIAL_ACCESS_TOKEN and INITIAL_USER_ID are provided, then the authentication step is bypassed once.
# These settings can be useful when testing the publishing or reading functionality, as it
# prevents having to authenticate each time the session is destroyed.
# INITIAL_ACCESS_TOKEN=SOME-ACCESS-TOKEN
# INITIAL_USER_ID=SOME-USER-ID
