extends layout.pug

block content
  div
    .profile-picture
      img(src=threads_profile_picture_url alt='User\'s profile picture' width=36 height=36)
    .username
      span
        a(href=user_profile_url target='_blank') @#{username}
    .user-bio
      p #{threads_biography}

  .button-group
    button(onclick="location.href='/upload'") Publish
    button(onclick="location.href='/threads'") My Threads
    button(onclick="location.href='/replies'") My Replies
    button(onclick="location.href='/mentions'") My Mentions
    button(onclick="location.href='/keywordSearch'") Search for Threads
    button(onclick="location.href='/userInsights'") My Insights
    button(onclick="location.href='/publishingLimit'") Publishing Limit
