extends layout.pug

block content
  style(type="text/css").
        #oembed {
            margin-top: 40px;
        }
  .button-group
    button(onclick="location.href='/login'") Log In
    button(onclick="location.href='/logout'") Log Out

    button#oembed(onclick="location.href='/oEmbed'") Embed Threads
