extends layout

append content
    style(type="text/css").
        a.account-link {
            position: absolute;
            left: 10px;
            top: 10px;
        }

    a.account-link(href='/account') Go to Account

    block content
